@media screen and (min-width: 1200px) {
  .account_update {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.225);
    padding: 20px;
  }

  .account_update .input_container {
    flex-direction: column;
    margin-bottom: 12px;
  }

  .account_update .input_container label {
    font-size: 16px;
    color: var(--black-);
    margin-bottom: 5px;
  }

  .account_update .input_container input {
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    border-radius: 5px;
  }

  .account_update .file-upload {
    margin: 22px 0px 12px 0px;
    display: flex;
    align-items: center;
  }

  .account_update .file-upload .file-content label {
    padding: 8px 20px;
    /* border: 1px solid rgba(0, 0, 0, 0.325); */
    border-radius: 20px;
    font-size: 15px;
    background-color: var(--blue-);
    color: rgba(255, 255, 255, 0.915);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .account_update .file-upload .file-content label i {
    margin-right: 5px;
  }

  .account_update .file-upload .file-content p {
    margin-top: 10px;
    font-size: 13px;
  }

  .account_update .file-content input[type="file"] {
    appearance: none;
    display: none;
  }

  .account_update .btn button {
    padding: 8px 15px;
    background-color: var(--black-);
    color: rgba(255, 255, 255, 0.922);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .account_update .file-upload .file-content label:hover {
    background-color: #2680ed;
  }
}
