@media screen and (min-width: 1200px) {
  .all_doctors {
    padding-top: 80px;
  }

  .all_doctors .all_doctors_container {
    display: flex;
  }

  .all_doctors .all_doctors_left {
    flex: 0.2;
    /* border: 1px solid rgba(0, 0, 0, 0.225); */
    /* height: 520px; */
    /* height: ; */
    margin-right: 30px;
  }

  .all_doctors .all_doctors_right {
    flex: 0.8;
    margin-bottom: 20px;
  }

  .all_doctors .doctors_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .all_doctors .nxtBtn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .all_doctors .nxtBtn button {
    width: 100%;
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: var(--black-);
    color: var(--white-);
  }

  .all_doctors .nxtBtn button:disabled {
    background-color: #112d4ebc;
    color: rgba(255, 255, 255, 0.722);
  }
}

@media screen and (max-width: 575.98px) {
  .all_doctors {
    padding-top: 80px;
  }

  .all_doctors .all_doctors_right {
    display: flex;
    flex-direction: column;
  }
  .all_doctors .doctors_grid {
    order: 3;
  }

  .profile_right .dashboard .no-data {
    text-align: center;
  }

  .profile_right .dashboard .no-data h1 {
    font-size: 14px;
  }

  .all_doctors_right .nxtBtn {
    width: 100%;
  }

  .all_doctors_right .nxtBtn button {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--black-);
    color: var(--white-);
    margin-bottom: 20px;
  }

  .all_doctors .nxtBtn button:disabled {
    background-color: #112d4ebc;
    color: rgba(255, 255, 255, 0.722);
  }
}
