@media screen and (min-width: 1200px) {
  .change-password {
    border: 1px solid rgba(0, 0, 0, 0.225);
    padding: 20px;
  }

  .change-password .input_container {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .change-password .input_container label {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .change-password .input_container input {
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    border-radius: 5px;
  }

  .change-password .input_container input::placeholder {
    font-size: 13px;
  }

  .change-password button {
    padding: 8px 15px;
    background-color: var(--black-);
    color: rgba(255, 255, 255, 0.922);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
