@media screen and (min-width: 1200px) {
  .profile_box {
    padding-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    /* border-top-left-radius: 6px;
    border-top-right-radius: 6px; */
    border-bottom: 1px solid #f0f0f0;
  }
  .profile_box .profile_detail {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile_box .profile_detail p {
    font-size: 16px;
    margin-top: 1px;
    color: var(--black-);
  }

  .profile_box .profile_img {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .profile_box .profile_img img {
    border-radius: 50%;
    width: 150px;

    height: 150px;

    object-fit: cover;
  }
}

@media screen and (max-width: 575.98px) {
  .profile_box {
    padding-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #f0f0f0;
  }

  .profile_box .profile_img {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .profile_box .profile_img img {
    border-radius: 50%;
    width: 150px;

    height: 150px;

    object-fit: cover;
  }

  .profile_box .profile_detail {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile_box .profile_detail p {
    font-size: 14px;
    margin-top: 1px;
    color: var(--black-);
  }
}
